export(concat_ids)
export(collapse_ids)
export(create_search_list)
export(update_db)
export(generate_NCT_URL)
export(generate_NCT_DF)
export(generate_ISRCTN_df)
export(generate_pubmed_results_from_search_terms_and_update_db_one_registry)
export(update_all_pubmed_tables)
export(update_db_for_NCT_changes)
export(update_db_for_ISRCTN_changes)
export(update_db_for_NIHR_changes)
export(update_db_for_EU_changes)
export(download_trial_info_wrapper_no_pm_or_email)
export(download_trial_info_wrapper)
export(get_last_registry_entry_before_today)
export(pull_change)
export(generate_pubmed_df_for_email_attachment)
export(write_changes_to_disk)
export(write_pubmed_dfs_to_disk)
export(generate_tt_email)
export(generate_all_pubmed_dfs_for_all_programs_one_registry)
export(pull_nihr_change)
export(generate_nihr_comparison_table)
export(generate_all_pubmed_dfs_for_all_programs_and_registries)
export(generate_change_files_for_all_programs_in_one_registry)
export(load_attachments_and_send_email_alert_for_one_program)
export(load_attachments_and_send_email_alert_for_all_programs)
export(generate_change_files_for_nct_isrctn_eu)
export(generate_change_files_for_nihr)
export(generate_email_alerts)
export(add_program_col_to_tibble)
export(add_program_col_to_sql_table)
export(write_prog_col_to_df)
export(return_only_distinct)
export(remove_dups_and_overwrite_table)
export(rename_ng_to_other)
export(generate_esearch_url)
export(get_esearch_results)
export(generate_efetch_url)
export(get_efetch_results)
export(return_pm_df)
export(get_efetch_results_in_tibble_form)
export(generate_pm_tibble_from_search_term)
export(generate_pm_tibble_from_search_term_series)
export(backup_SQLite_db)
